<!DOCTYPE html>
<html lang="en" data-theme="t1dash">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <title>T1 Dash</title>
</head>
<body>
    <img src="/static/logo.png" alt="T1 Dash Logo"></img>
    {{ define "index" }}
    <p class="text-2xl">Randomly Generated Fake Bloodsugar: {{.EGV}}</p>
    {{ end }}
    <button class="btn btn-primary">Default</button>
</div>
</body>
</html>
